<div class="gascontainer">
    <app-header></app-header>
    <div class="cards-holder">
        <div class="row">
            <div class="col">
                <app-prop></app-prop>
            </div>
            <div class="col">
                <app-prop></app-prop>
            </div>
            <div class="col">
                <app-prop></app-prop>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-prop></app-prop>
            </div>
            <div class="col">
                <app-prop></app-prop>
            </div>
            <div class="col">
                <app-prop></app-prop>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-prop></app-prop>
            </div>
            <div class="col">
                <app-prop></app-prop>
            </div>
            <div class="col">
                <app-prop></app-prop>
            </div>
        </div>
    </div>
</div>