<div class="container-fluid games-container p-5 py-3 mt-5">
  <div class="row pills-container" *ngFor="let tag of tags">
    <div class="pill" (click)="filter(tag.name)" id="{{tag.name}}">{{tag.name}}</div>
  </div>
  <div class="row">
      <div class="col-sm-6 offset-sm-3 row my-1">
          <input type="text" class="form-control mt-3" placeholder="search" [(ngModel)]="term">
      </div>
  </div>
  <div class="row my-5">
    <div
      class="col-12 col-md-6 col-lg-4 col-xl-3"
      *ngFor="let game of games | filter : term"
    >
      <app-game-card [game]="game"></app-game-card>
    </div>
  </div>
</div>