<app-chip></app-chip>
<div class="container-fluid p-5 py-3 mt-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        
    </div>
</div>