<div class="container-fluid p-5 py-3">
    <div class="row justify-content-center">
        <h1>CHARM STUDIES</h1>
        <div class="col-12">
            <div class="cover">
                <img src="../../assets/game-ex-cover.png" width="100%" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 details">
            <div class="game-description">
                <p>
                    <b>CHARM STUDIES</b> is a lo-fi picross game about young witches studying magic. you play as cassia, an airheaded girl who's currently failing charms class... luckily, senna has agreed to tutor her! the only problem is she's not very nice... can these two little witches learn from each other through the magic of puzzles?
                </p>
                <p>
                    the game includes a small tutorial for those who are new to picross, but you won't fail if you make mistakes either. you can still see all of the story regardless of your picross skills.
                </p>
                <p>
                    i hope that all players will be able to relax and enjoy the pleasant vibes!
                </p>
            </div>
            <div class="spacer"></div>
            <div class="credits">
                <b>Credits</b>
                <p>story + art + music - NomnomNami</p>
            </div>
            <div class="spacer"></div>
            <div class="more-informations">
                <b>More informations</b>
                <ul class="list-unstyled">
                    <li class="mt-2">
                        <div class="row">
                            <div class="col info-label">Status</div>
                            <div class="col info-content">Relased</div>
                        </div>
                    </li>
                    <li class="mt-2">
                        <div class="row">
                            <div class="col info-label">Platforms</div>
                            <div class="col info-content">Windows, macOS, Linux</div>
                        </div>
                    </li>
                    <li class="mt-2">
                        <div class="row">
                            <div class="col info-label">Author</div>
                            <div class="col info-content"><a routerLink="/profile">NomnomNami</a></div>
                        </div>
                    </li>
                    <li class="mt-2">
                        <div class="row">
                            <div class="col info-label">Tags</div>
                            <div class="col info-content">Fantasy, Female Protagonist, Lo-fi, Magic, picross</div>
                        </div>
                    </li>
                    <li class="mt-2">
                        <div class="row">
                            <div class="col info-label">Links</div>
                            <div class="col info-content">
                                <a href="https://nomnomnami.bandcamp.com/album/charm-studies-ost-magical-beats-to-study-to-2">Soundtrack</a>,
                                <a href="https://www.youtube.com/watch?v=N-plwzKHSc8">YouTube</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 screenshots">
            <img src="../../assets/game-ex-screenshot-1.png" alt="" srcset="">
            <img src="../../assets/game-ex-screenshot-2.png" alt="" srcset="">
            <img src="../../assets/game-ex-screenshot-3.png" alt="" srcset="">
        </div>
    </div>
</div>