/* Fonts from google*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    font-family: 'Russo One', 'arial';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*color palette*/
    --one: #e23c5c;
    --two: #151030;
    --three: #232740;
    --four: #212121;

    /*transitions*/
    --tran-02: all 0.2s;
    --tran-03: all 0.3s;
    --tran-04: all 0.4s;
    --tran-05: all 0.5s;
  }

body{
    background-color: var(--two);
    height: 100vh;
}

.magic-sphere{
    position: fixed;
    filter: blur(20px);
    border-radius: 50%;
}

.magic-sphere#sphere1{
    left: 8vw;
    top: 5vh;
    width: 15vw;
    height: 15vw;
    background-image: linear-gradient(var(--one), yellow);
    transform: rotate(-45deg);
}

.magic-sphere#sphere2{
    right: 5vw;
    top: 35vh;
    width: 25vw;
    height: 25vw;
    background-image: linear-gradient(purple, cyan);
    transform: rotate(15deg);
}

.magic-sphere#sphere3{
    left: -5vw;
    bottom: 6vh;
    width: 15vw;
    height: 15vw;
    background-image: linear-gradient(green, cyan);
    transform: rotate(130deg);
}

.ball-sack{
    z-index: -10;
}