<div class="tgccontainer">
    <div class="row">
        <div class="col">
            <a routerLink="/game-preview">
                <div class="card">
                    <img src="../../assets/trending game.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Card title</h3>
                    </div>
                    <div class="tag-container">
                        <div class="tag">dummy-tag</div>
                        <div class="tag">dummy-tag</div>
                        <div class="tag">dummy-tag</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>