.tgccontainer{
    width: 300px;
    margin-bottom: 10%;
}

.tgccontainer .card{
    color: var(--one);
    text-align: center;
    background-color: var(--three);
    box-shadow: 2px 2px 8px black;
    transition: var(--tran-03) ease;
}

.tgccontainer .card:hover{
    box-shadow: 2px 2px 8px var(--one);
}

.tgccontainer a{
    text-decoration: none;
}

.tgccontainer .tag-container{
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tgccontainer .tag{
    position: relative;
    background-color: var(--one);
    color: var(--three);
    border-radius: 20px;
    font-size: 0.8rem;
    width: fit-content;
    padding: 0 2%;
    margin: 2%;
    height: 1.2rem;
    min-width: 90px;
}
