
<div class="gscontainer">
    <app-header></app-header>
    <div class="row trending">
        <div class="section-title">
            <h3>Featured Games</h3>
        </div>
        <marquee behavior="scroll" direction="" loop="-1">
            <div class="d-flex flex-row flex-nowrap">
                <div class="dragging-cat">
                    <img src="../../assets/cat-dragging-with-rope.gif" alt="" id="dragging-cat">
                </div>
                <div class="col">
                    <app-trending-game-card></app-trending-game-card>
                </div>
                <div class="col">
                    <app-trending-game-card></app-trending-game-card>
                </div>
                <div class="col">
                    <app-trending-game-card></app-trending-game-card>
                </div>
                <div class="col">
                    <app-trending-game-card></app-trending-game-card>
                </div>
                <div class="col">
                    <app-trending-game-card></app-trending-game-card>
                </div>
                <div class="col">
                    <app-trending-game-card></app-trending-game-card>
                </div>
                <div class="col">
                    <app-trending-game-card></app-trending-game-card>
                </div>
            </div>
        </marquee>
        <div class="section-title">
            <h3>Games</h3>
        </div>
        <div class="cards-holder">
            <div class="row">
                <div class="col">
                    <app-game-card></app-game-card>
                </div>
                <div class="col">
                    <app-game-card></app-game-card>
                </div>
                <div class="col">
                    <app-game-card></app-game-card>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-game-card></app-game-card>
                </div>
                <div class="col">
                    <app-game-card></app-game-card>
                </div>
                <div class="col">
                    <app-game-card></app-game-card>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-game-card></app-game-card>
                </div>
                <div class="col">
                    <app-game-card></app-game-card>
                </div>
                <div class="col">
                    <app-game-card></app-game-card>
                </div>
            </div>
        </div>
    </div>
</div>
