<body>
    <div class="gscontainer">
        <div class="row">
            <div class="col">
                <app-game-card></app-game-card>
            </div>
            <div class="col">
                <app-game-card></app-game-card>
            </div>
            <div class="col">
                <app-game-card></app-game-card>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-game-card></app-game-card>
            </div>
            <div class="col">
                <app-game-card></app-game-card>
            </div>
            <div class="col">
                <app-game-card></app-game-card>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-game-card></app-game-card>
            </div>
            <div class="col">
                <app-game-card></app-game-card>
            </div>
            <div class="col">
                <app-game-card></app-game-card>
            </div>
        </div>
    </div>
</body>