.gscontainer{
    min-width: 200px;
    position: absolute;
    top: 7vh;
    left: 0;
    right: 0;
    height: fit-content;
    overflow-x: hidden;
}
.gscontainer .cards-holder{
    overflow-x: hidden;
    margin-top: 10vh;
    padding-left: 12vw;
}
.gscontainer .trending{
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-color: var(--one);
    text-align: center;
}
.gscontainer .trending .col{
    padding-top: 5vh;
    padding-right: 5vw;
}

.gscontainer .trending::-webkit-scrollbar{
    color: var(--one);
}
.gscontainer .dragging-cat{
    height: fit-content;
    transform: translatex(3vw);
    transform: translatey(25vh);
    z-index: -1;
}
.gscontainer h3{
    color: var(--one);
}
.section-title{
    background-color: var(--three);
    width: 98%;
    padding: 1vh 2vw;
}