.home-container {
    h1,
    h2 {
      color: crimson;
      font-weight: 900;
    }
    h3 {
      font-weight: 600;
      padding-left: 1rem;
    }
    p {
      
      padding-top: 2rem;
    }
    .features img {
      padding-left: 2rem;
    }
  }
  