.home-container{
    h1,h2{
        color: crimson;
        font-weight: 900;
    }
    h3{
        font-weight: 600;
        padding-left: 1rem;
    }
    p{
        padding-left: 2rem;
        padding-top: 2rem;
    }
    .features img{
        padding-left: 2rem;
    }
}
.game-navigation-bar{
    position: fixed;
    width: 100%;
    z-index: 99;
    top:0;
    left:0;
    border-bottom: 1px solid crimson;
    .nav-link:hover{
        svg{
            fill: crimson;
        }
    }
}