<div class="home-container">
    <div #rendererContainer></div>

    <div class="text-wrapper" id="games">
        <a routerLink="/games">
            <h1>Play the most creative games</h1>
        </a>
        <p>Enjoy a selection of mind-blowing community made games</p>
    </div>

    <div class="text-wrapper" id="assets">
        <a routerLink="/assets">
            <h1>Get the best assets</h1>
        </a>
        <p>Pick from a wide selection of free and paid game assets</p>
    </div>
    
    
  
    <div class="text-wrapper" id="upload">
        <a routerLink="/upload-prop">
            <h1>Upload your own props</h1>
        </a>
        <p>Make use of our platform to host your games and assets and share them with the world!</p>
    </div>
</div>