<div class="container-fluid p-3 py-5 home-container">
    <section class="hero py-5 d-flex flex-column">
      <h1 class="display-1 text-center text-md-start">Welcome to Prophub</h1>
      <p class="mb-5 ps-md-4 text-center text-md-start">
        Discover the best games and game assets for all your needs.
      </p>
  
      <button
        routerLink="/games"
        class="btn btn-danger px-5 py-3 align-self-center align-self-md-start"
        style="
          border-radius: 20px;
          font-size: 1.5rem;
          font-weight: 600;
          margin: 0 0 0 1vw;
        "
      >
        Browse Now
      </button>
    </section>
    <hr />
    <section class="features">
      <h2>Why Choose Us?</h2>
      <div class="feature">
        <h3>An ever growing library of games and assets</h3>
        <img src="../../assets/feature-1.jpg" alt="Feature 1" width="60%" />
  
        <p>
          Our site offer a large variety of games and assets to cover all your
          needs.
        </p>
      </div>
      <div class="feature">
        <h3>Simple UI</h3>
        <img src="../../assets/feature-2.jpeg" alt="Feature 2" width="60%" />
  
        <p>
          Our site offer unexperienced users a user-friendly experience that makes
          them feel at home.
        </p>
      </div>
      <div class="feature">
        <h3>Versatile Assets</h3>
        <img src="../../assets/feature-3.jpg" alt="Feature 3" width="60%" />
  
        <p>
          Our assets can vary from 3D models and 2D sprites to audio effects and
          code snippets.
        </p>
      </div>
    </section>
    <hr />
    <section class="testimonials">
      <h2>What Our Customers Say</h2>
      <div class="testimonial">
        <p>
          <img
            src="../../assets/testemonial-1.jpg"
            width="50px"
            alt=""
            class="rounded-circle pe-2"
          />"I absolutely love the games I've purchased from Prophub. The gameplay
          is addictive and the visuals are stunning."- Samir Sankou7
        </p>
      </div>
      <div class="testimonial">
        <p>
          <img
            src="../../assets/testemonial-2.jpg"
            width="50px"
            alt=""
            class="rounded-circle pe-2"
          />"The game assets from Prophub have saved me so much time and effort.
          They're versatile and easy to use."- Lionel Messi
        </p>
      </div>
      <div class="testimonial">
        <p>
          <img
            src="../../assets/testemonial-3.jpg"
            width="50px"
            alt=""
            class="rounded-circle pe-2"
          />"Please don"t put my picture in your website."- Ahmed from Discord
        </p>
      </div>
    </section>
    <hr />
    <section class="faq">
      <h2>FAQs</h2>
      <div class="question">
        <h3>What payment methods do you accept?</h3>
        <p>
          We accept all major credit cards and PayPal including Tunisian credit
          cards.
        </p>
      </div>
      <div class="question">
        <h3>How do I download my purchase?</h3>
        <p>
          After completing your purchase, the item will be added to your profile's
          inventory so you could download it there at any time.
        </p>
      </div>
      <div class="question">
        <h3>Do you offer refunds?</h3>
        <p>
          We offer refunds for any purchases made within 30 days, no questions
          asked.
        </p>
      </div>
    </section>
  </div>
  