.home-container {
  position: absolute;
    left: 0;
    top: 0;
  #rendererContainer {
   position: absolute;
  }
  .text-wrapper{
    position: absolute;
    
    width: 500px;
    border-radius: 20px;
    padding: 2rem;
    border: white 3px solid;
    h1{
      color: crimson;
      font-weight: 700;
    }
    p{
      color: white;
    }
    a{
      text-decoration-color: crimson;
    }
  }
  #assets{
    top: 30rem;
    left: 40rem;
    backdrop-filter: blur(75px);
  }
  #games{
    backdrop-filter: blur(75px);
    top: 10rem;
  }
  #upload{
    backdrop-filter: blur(75px);
    top: 50rem;
  }
}


