<app-game-navbar></app-game-navbar>
<a routerLink="/game" class="card card-game border-0">
    <img src="../../assets/dummy-game.jpg" width="100%" class="img-fluid" alt="" srcset="">
    <div class="card-game-details d-flex mt-2">
        <div class="me-2">
            <a routerLink="/profile">
                <img class="rounded-circle" src="../../assets/pp1.png" width="40" alt="" srcset="">
            </a>
        </div>
        <div>
            <h4>{{game.game_title}}</h4>
            <a routerLink="/profile">
                <p class="mb-0">{{game.game_developer}}</p>
            </a>
            <ngb-rating></ngb-rating>
            <p class="mb-0">{{game.downloads}}</p>
            <h5 class="mt-0">{{game.price}}$</h5>
        </div>
    </div>
</a>