<div class="container-fluid prop-upload-container">
    <div class="card upload-card">
      <h1>Upload Prop</h1>
      <form>
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" placeholder="Enter game title" required>
        </div>
        <div class="form-group">
          <label for="developer">Categorie:</label>
          <input type="text" class="form-control" id="developer" placeholder="Enter game tags" required>
          <small id="email" class="form-text text-muted">Seperate your tags with a semicolomn ";".</small>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" id="description" rows="3" required></textarea>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" class="form-control" id="price" placeholder="Enter game price" required>
        </div>
        <div class="form-group">
          <label for="description">Additional Info:</label>
          <textarea class="form-control" id="description" rows="3"></textarea>
          <small id="email" class="form-text text-muted">If you want your game page to be cutomized like a custom background or if you want to add additional information (social links, team members, custom background/theme, etc..), make sure to add it here or in a text file titled "request.txt" in your zip file.</small>
        </div>
        <div class="form-group mt-3">
          <label for="file">File:</label>
          <input type="file" class="form-control-file" id="file">
        </div>
        <button type="submit" class="btn btn-primary mt-3" (click)="confirm()">Upload</button>
      </form>
    </div>
  </div>
    