<div class="chip-container d-flex align-items-center">
    <div class="chip active">All</div>
    <div class="chip">Action</div>
    <div class="chip">Platformer</div>
    <div class="chip">Shooter</div>
    <div class="chip">Fighting</div>
    <div class="chip">Stealth</div>
    <div class="chip">Survival</div>
    <div class="chip">Rhythm</div>
    <div class="chip">Battle Royale</div>
    <div class="chip">Survival horror</div>
    <div class="chip">Adventure</div>
    <div class="chip">Text adventures</div>

    <!--  * TODO : add a carousel effect and remove the scrollbar-->
    <div class="chip">Graphic adventures</div>
    <div class="chip">Visual novels</div>
    <div class="chip">Interactive movie</div>
    <div class="chip">Real-time 3D</div>
    <div class="chip">Puzzle</div>
    <div class="chip">Breakout clone</div>
    <div class="chip">Logical</div>
    <div class="chip">Physics</div>
    <div class="chip">Coding</div>
    <div class="chip">Trial-and-error</div>
    <div class="chip">Exploration</div>


</div>
