.sidebar{
    width: 250px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0px;
    overflow: auto;
    padding-top: 70px;
    padding-bottom: 40px;
    font-weight: 600;
    z-index: 5;
    border-right: 1px solid white;
    

    .nav-link span{
        padding: 0 15px;
        vertical-align: bottom;
        white-space: nowrap;
        font-size: 15px
    }

    .nav-footer{
        padding-right: 30px;
        padding-left: 1rem;
        .nav-link{
            padding: 0;
            padding-right: 5px;
            font-size: 12px;
            font-weight: 400;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .nav-item.active svg{
        fill: crimson;
    }

    .nav-item a:hover{
        border-left: 5px solid crimson;
        transition: all 0.1s;
    }

    .spacer{
        height: 470px;
    }
    .nav-item{
        .btn{
            color: crimson;
        }
    }
}

  