.sbcontainer{
    position: fixed;
    height: 100vh;
    width: 5vw;
    flex-direction: column;
    min-width: 40px;
    z-index: 10;
    left: 1vw;
}

.sidebar{
    background-color: var(--three);
    position: relative;
    top: 20%;
    width: 3vw;
    min-width: 40px;
    height: 60%;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    box-shadow: 2px 2px 8px black;
    overflow: hidden;
}

.sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 1vh 0;
    width: 100%;
}

.sidebar li{
    padding: 1vh 0vw;
    width: 100%;
}

.sidebar i:hover{
    background-color: var(--one);
    color: var(--three);
    transition: var(--tran-02);
}

.sidebar li .logo{
    padding-bottom: 4vh;
    background-color: aqua;
}

.sidebar svg{
    fill: var(--one);
    width: 2.5vw;
    min-width: 35px;
}

.sidebar .logoholder{
    border-radius: 50%;
    transition: var(--tran-02);
}

.sidebar .logoholder:hover{
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

.sidebar .bottom-list{
    position: absolute;
    top: 43vh;
    width: 100%;
}

.sidebar i{
    width: 100%;
    color: var(--one);
    border-radius: 5px;
}


