<div class="container">
    <div class="sidebar">
        <ul>
            <li class="logo">
                <a href="#"><img src="../../assets/logo.png" alt="logo"></a>
            </li>
            <li class="home">
                <a href="#"><i class='bx bx-home-alt' ></i></a>
            </li>
            <li class="games">
                <a href="#"><i class='bx bx-game' ></i></a>
            </li>
            <li class="game-assets">
                <a href="#"><i class='bx bx-dice-5' ></i></a>
            </li>
        </ul>
        <div class="night-mode">
            <a href="#"><i class='bx bx-moon' ></i></a>
        </div>
    </div>
</div>