.sbcontainer{
    position: fixed;
    height: 100vh;
    width: 5vw;
    flex-direction: column;
    min-width: 40px;
    z-index: 10;
    left: 1vw;
}

.sidebar{
    background-color: white;
    position: relative;
    top: 20%;
    width: 3vw;
    min-width: 40px;
    min-height: 270px;
    height: 50%;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    box-shadow: 2px 2px 8px black;
    overflow: hidden;
}

.sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 1vh 0;
    width: 100%;
}

.sidebar li{
    padding: 1vh 0vw;
    width: 100%;
}

.sidebar i:hover{
    background-color: var(--one);
    transition: var(--tran-05);
}

.sidebar li .logo{
    padding-bottom: 4vh; 
}

.sidebar svg{
    fill: var(--one);
    width: 2.5vw;
    min-width: 35px;
    ;
}

.sidebar svg:hover{
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    transition: var(--tran-02);
}

.sidebar .night-mode{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sidebar i{
    width: 100%;
    color: black;
    border-radius: 5px;
}