.logincontainer{
    position: absolute;
    top: 10vh;
    left: 0;
    right: 30vh;
}
.logincontainer form{
    text-align: center;
    padding: 5vh;
    border-radius: 10px;
    color: var(--one);
    background-color: var(--three);
    min-width: 400px;
    transition: var(--tran-02);
}

.logincontainer form:hover{
    box-shadow: 2px 2px 8px var(--one);
}
