.sign-up-container{
    position: relative;
    top: 100px;
    h2{
        color: crimson;
        font-weight: 900;
    }
    label{
        margin-top: 2rem;
        font-weight: 600;
    }
    button{
        margin-top: 2rem;
    }
}