.hcontainer{
    position: absolute;
    height: 14vh;
    width: 100vw;
    min-height: 40px;
    right: 0;
    z-index: 1;
}

.hcontainer .header{
    background-color: var(--three);
    position: relative;
    top: 1.3vh;
    left: 7vw;
    width: 90vw;
    min-height: 40px;
    min-width: 400px;
    height: 3vh;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    box-shadow: 2px 2px 8px var(--one);
}

