<div class="hcontainer">
    <div class="row">
        <div class="col">
            <h2>PropHub</h2>
        </div>
        <div class="col searchbar">
            <div class="input-group rounded">
                <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                    <i class='bx bx-search-alt'></i>
                </span>
            </div>
        </div>
    </div>
</div>