<div class="container profile-container">
    <div class="row">
        <img src="../../assets/user-profile-cover.jpg" alt="" class="cover-image">
    </div>
    <div class="row">
        <div class="col">
            <img class="profile-image rounded-circle" src="../../assets/pp1.png" alt="Profile Image">
            <div class="profile-details">
                <h2>User Name</h2>
                <p>Email: user@example.com</p>
                <p>Phone: 1234567890</p>
                <p>Hi there! I'm [name], a passionate game developer with a love for creating immersive and engaging gaming experiences. With [number] years of experience in the industry, I've worked on a variety of projects ranging from mobile games to AAA titles. My expertise lies in [area of expertise], and I'm always excited to learn and explore new technologies and techniques to improve my craft. When I'm not busy coding, you can find me playing games, watching movies, or spending time with my family and pets.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Props I made:</h2>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-asset-card></app-asset-card>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <app-game-card></app-game-card>
        </div>
    </div>
</div>