.profile-top-container {
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;

    .profile-pic {
        display: block;
        margin: 0 auto;
        width: 150px;
        object-position: center;
    }
    h1 {
        color: crimson;
        margin-top: 0;
    }
    h2 {
        color: crimson;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
    .editbio{
        margin: 0 auto;
        width: 80px;
    }
    .savechanges{
        margin: 0 auto;
        width: 180px;
    }
}
.profile-bot-container{

    width: 100%;
    padding: 50px;
    h2{
        color: crimson;
    }
}