<div class="cart-container container-fluid mt-5 p-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">action</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of cartlist">
        <tr>
            <th scope="row">{{item.id}}</th>
            <td><a routerLink="/games/{{item.id}}">{{item.name}}</a></td>
            <td>{{item.price}}</td>
            <td><button class="btn btn-danger" (click)="removeCartItem(item.id)">cancel</button></td>
        </tr>
        </tbody>
    </table>
</div>