<div class="container-fluid p-3 py-5 cart-container">
    <table class="table table-striped mt-5">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
            <th scope="col">Buy</th>
            <th scope="col">Cancel</th>
        </tr>
        <tbody>
            <tr>
                <td>Game 1</td>
                <td>Free</td>
                <td>02/01/2023</td>
                <td>
                    <button class="btn btn-primary">Buy</button>
                </td>
                <td>
                    <button class="btn btn-danger">Cancel</button>
                </td>
            </tr>
            <tr>
                <td>Game 2</td>
                <td>1.5Dt</td>
                <td>09/10/2021</td>
                <td>
                    <button class="btn btn-primary">Buy</button>
                </td>
                <td>
                    <button class="btn btn-danger">Cancel</button>
                </td>
            </tr>
            <tr>
                <td>Game 3</td>
                <td>Free</td>
                <td>22/02/2023</td>
                <td>
                    <button class="btn btn-primary">Buy</button>
                </td>
                <td>
                    <button class="btn btn-danger">Cancel</button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>