<a routerLink="/game" class="card card-asset border-0 bg-transparent mb-4">
    <img src="../../assets/dummy-asset.png" class="img-fluid" alt="" srcset="">
    <div class="card-asset-details d-flex mt-2">
        <div class="me-2">
            <a routerLink="/profile">
                <img class="rounded-circle" src="../../assets/pp4.png" width="40" alt="" srcset="">
            </a>
        </div>
        <div>
            <h4>Insert asset title here</h4>
            <a routerLink="/profile">
                <div>Asset designer</div>
            </a>
            <div>523 downloads</div>
        </div>
    </div>
</a>