.card-game{
    margin-bottom: 5rem;
    display: block;
    text-decoration: none;
    min-height: 350px;
    h4{
        font-size: 16px;
        font-weight: 600;
        color: #000;
    }
    div{
        color: gray;
        font-size: 13px;
    }
    a, p{
        text-decoration: none;
    }
    h5{
        color: crimson;
        margin-bottom: 0;
    }
}
.card-game:hover{
    h4{
        color: crimson;
    }
}