<div class="gccontainer">
    <div class="row">
        <div class="col">
            <a routerLink="/game-preview">
                <div class="card">
                    <img src="../../assets/dummy-game.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Card title</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>