.gccontainer{
    max-width: 300px;
    margin-bottom: 10%;
    min-width: 200px;
}

.gccontainer .card{
    color: var(--one);
    background-color: var(--three);
    box-shadow: 2px 2px 8px black;
    transition: var(--tran-03) ease;
}

.gccontainer .card:hover{
    transform: translateY(-0.75rem);
    box-shadow: 2px 2px 8px var(--one);
}

.gccontainer a{
    text-decoration: none;
}

.gccontainer .card-text{
    text-align: left;
    color: white;
}

.gccontainer .seperator{
    background-color: var(--one);
    width: 80%;
    height: 1px;
    opacity: 50%;
    transform: translateX(14%);
}

.tag-container{
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gccontainer .tag{
    position: relative;
    background-color: var(--one);
    color: var(--three);
    border-radius: 20px;
    font-size: 0.8rem;
    width: fit-content;
    padding: 0 2%;
    margin: 2%;
    height: 1.2rem;
    min-width: 90px;
}

/*
.gccontainer .tag:hover{
    background: none;
    border: 1px var(--one) solid;
    color: var(--one);
    transition: var(--tran-02);
}
*/