<div class="container-fluid p-5 py-3">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="cover">
          <img
            src="../../assets/game-cover-{{ game.game_id }}.png"
            width="100%"
            alt="{{ game.game_title }} cover"
            srcset=""
          />
        </div>
      </div>
      <h1>{{ game.game_title }}</h1>
    </div>
    <div class="row">
      <div class="col-md-9 details">
        <div class="game-description">
          <p>
            {{ game.description }}
          </p>
        </div>
        <div class="spacer"></div>
        <div class="credits">
          <b>Author</b>
          <a routerLink="/profile/{{ game.game_id }}">
            <p>{{ game.game_developer }}</p>
          </a>
        </div>
        <div class="spacer"></div>
        <div class="more-informations">
          <b>More informations</b>
          <ul class="list-unstyled">
            <li class="mt-2">
              <div class="row">
                <div class="col info-label">Price</div>
                <div class="col info-content">{{ game.price }}$</div>
              </div>
            </li>
            <li class="mt-2">
              <div class="row">
                <div class="col info-label">Rating</div>
                <div class="col info-content">{{ game.rating }}</div>
              </div>
            </li>
            <li class="mt-2">
              <div class="row">
                <div class="col info-label">Downloads</div>
                <div class="col info-content">{{ game.downloads }}</div>
              </div>
            </li>
            <li class="mt-2">
              <div class="row">
                <div class="col info-label">Tags</div>
                <div class="col info-content">{{ game.tags }}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 screenshots">
        <img
          src="../../assets/game-screenshot-{{ game.game_id }}-1.png"
          alt="{{ game.game_title }} screenshot 1"
          srcset=""
        />
        <img
          src="../../assets/game-screenshot-{{ game.game_id }}-2.png"
          alt="{{ game.game_title }} screenshot 2"
          srcset=""
        />
        <img
          src="../../assets/game-screenshot-{{ game.game_id }}-3.png"
          alt="{{ game.game_title }} screenshot 3"
          srcset=""
        />
      </div>
    </div>
    <button class="btn btn-danger" (click)="addToCart()">Add to cart</button>
  </div>
  